p{
    word-break: break-word;
  }
  #motiva{
    justify-content: center;}
    #k1{
      justify-content: center;}
  
  #ahora{
  text-align:center;
  }
  
  #bb{
    text-align: left;
  }
  #aa{
    text-align: left;
  }
  #cc{
    text-align: left;
  }
  #uu{
    text-align: left;
  }
  #dd{
    text-align: left;
  }
  #oo{
    text-align: left;
  }
  #zz{
    text-align: left;
  }
   
  #hola{
  font-family: arial; 
  }
  
  .class-enlace-rojo{
    color: red;
  }
  #navbar-example2{
    position: fixed;
  }
  
  
  #juja{
    text-align:center;
    }
    #lele{
      text-align:center;
      }
      
      #lolo{
        text-align:center;
        }
        #con{
          text-align:center;
          }
          
   